<%- include("partials/headerForm"); -%>
<link rel="stylesheet" href="css/initialCategorypage.css">

<div class="categories">
    <div class="categoriesItem">
        <div class="categoryPart">
            <a href="/mainCategoriesPage?category=Mobiles"><img src="images/categories/smartphone.png" alt=""></a>
        </div>
        <div class="categoryPartHeading">
            Mobiles
        </div>
    </div>
    <div class="categoriesItem">
        <div class="categoryPart">
            <a href="/mainCategoriesPage?category=Sports"><img src="images/categories/sports.png" alt=""></a>
        </div>
        <div class="categoryPartHeading">
            Sports
        </div>
    </div>
    <div class="categoriesItem">
        <div class="categoryPart">
            <a href="/mainCategoriesPage?category=Electronics"><img src="images/categories/responsive.png" alt=""></a>
        </div>
        <div class="categoryPartHeading">
            Electronics
        </div>
    </div>
    <div class="categoriesItem">
        <div class="categoryPart">
            <a href="/mainCategoriesPage?category=Home%20Accessories"><img src="images/categories/armchair.png" alt=""></a>
        </div>
        <div class="categoryPartHeading">
            Home Accessories
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
