.mainHeading{
    font-family: 'value bold';
    font-size: 3.83333rem;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    transition: transform .2s;

}
.mainHeading:hover{
    transform: scale(1.1); 
}


.productPart{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
    gap: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
.itemsProduct{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 25%;
    display: inline-block;
    height: 5%;
}
.productPart img{
    position: relative;
    height: 250px;
    /* flex: 1 1 auto; */
    width: 90%;
}

/* Main Heading */
.firstProduct{
    position: relative;
    height: 500px;
}
.headingProducts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.firstProduct p.mainHeading{
    font-family: 'Value bold';
    font-size: 3.83333rem;
    color: #232323;
    line-height: 100%;
    margin-bottom: 50px;
}
.firstProduct a.sub-heading{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ba7a2d;
}

/* Hover Effect */
.imageProduct{
    position: relative;
    display:flex ;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: transform .2s;
}
.imageProduct:hover {
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 1); */
    box-shadow: 2px 2px 4px 4px rgb(160, 160, 160);
    border-radius: 25px;
    transform: translateY(-10%); 

}
.imageOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
    border-radius: 25px;
    
}
.imageOverlay:hover{
    opacity: 1;
}

/* items Description */
.itemsDescProducts p{
    margin-top: 10px;
    padding-left: 10px;
    text-align: start;
}
.itemsDescProducts p.main{
    font-size: 1.8rem;
    font-family: 'Value bold';
    margin-bottom: 0;
}
.itemsDescProducts p.desc{
    font-size: 1.3rem;
    font-weight:500;
    color: rgb(90, 94, 96);
    margin-bottom: 0;
    margin-top: 0;
}
.itemsDescProducts p.availaibility{
    padding-right: 10px;
    padding-left: 0;
    text-align:end;
    color: #ba7a2d;
}
.custom-btn{
    width: 120px;
    font-weight:bold;
    color: black;
    background-color: white;
    border-color:none;
    font-family: 'value bold';
}
.custom-btn:hover{
    color: white;
    background-color: transparent;
}

.realRating{
    margin-top: 0;
    display: flex;
    justify-content: end;
}

.star {
    color:rgb(240, 240, 107);
    border: none;
    background-color: white;
    font-size: 2rem;
}